@{
    ViewData["Title"] = "Search Homes";
}

<div class="container">
    <h2>Search Homes</h2>
    <form asp-controller="Home" asp-action="SearchHomes" method="post">
        <div class="form-group">
            <label class="form-label">City</label>
            <input type="text" id="City" name="City" class="form-control" placeholder="Enter City" />
        </div>

        <div class="form-group">
            <label class="form-label">State</label>
            <input type="text" id="State" name="State" class="form-control" placeholder="Enter State" />
        </div>

        <div class="form-group">
            <label class="form-label">Zip Code</label>
            <input type="text" id="Zip" name="Zip" class="form-control" placeholder="Enter Zip Code" />
        </div>

        <div class="form-group">
            <label class="form-label">Property Type</label>
            <select name="propertyType" id="propertyType" class="form-control-select">
                <option value="">Select a property Type</option>
                <option value="Condo">Condo</option>
                <option value="Townhouse">Townhouse</option>
                <option value="Single Family">Single Family</option>
                <option value="Multi Family">Multi Family</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Min Bedrooms</label>
            <input type="number" id="minBedrooms" name="minBedrooms" class="form-control" placeholder="Enter Minimum Bedrooms" />
        </div>

        <div class="form-group">
            <label class="form-label">Min Bathrooms</label>
            <input type="number" id="minBathrooms" name="minBathrooms" class="form-control" placeholder="Enter Minimum Bathrooms" />
        </div>

        <div class="form-group">
            <label class="form-label">Min Price</label>
            <input type="text" id="minPrice" name="minPrice" class="form-control" placeholder="Enter Minimum Price" />
        </div>

        <div class="form-group">
            <label class="form-label">Max Price</label>
            <input type="text" id="maxPrice" name="maxPrice" class="form-control" placeholder="Enter Maximum Price" />
        </div>

        <div class="form-group">
            <label class="form-label">Minimum Home Size</label>
            <input type="text" id="minHomeSize" name="minHomeSize" class="form-control" placeholder="Enter Minimum Home Size" />
        </div>

        @{ /* change to checkbox list */}
        <div class="form-group">
            <label class="form-label">Amenities</label>
            <input type="text" id="amenities" name="amenities" class="form-control" placeholder="Enter Amenities" />
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

@model List<Project4.Models.Home>

<h2>Search Results</h2>
@if (Model.Count == 0)
{
    <p>No results found.</p>
}
<div class="card-container">
    <div class="row">
        @foreach (Home h in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="" class="card-image-top" alt="House Image" />
                    <div class="card-body">
                        <h5 class="card-title">@h.PropertyType</h5>
                        <p class="card-text">Price: $@h.Price</p>
                        <p class="card-text">Address: @h.Address.Street @h.Address.City, @h.Address.State @h.Address.Zip</p>
                        <a asp-controller="Home" asp-action="ViewHome" asp-route-id="@h.HomeID" class="btn btn-primary">View Home</a>
                    </div>
                </div>
            </div>
        }
    </div>

    @* else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Property Type</th>
                    <th>Price</th>
                    <th>Size (sq ft)</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>Amenities</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var home in Model)
                {
                    <tr>
                        <td>@home.Address</td>
                        <td>@home.PropertyType</td>
                        <td>@home.Price</td>
                        <td>@home.Size</td>
                        <td>@home.Bedrooms</td>
                        <td>@home.Bathrooms</td>
                        <td>
                            @foreach (var amenity in home.Amenities)
                            {
                                <span>@amenity.AmenityDescription</span>

                                <br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table> 
    }*@
</div>

